<script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
<div class="widget-wrap">
<h3 class="widget-title"><a class="widget-title" href="/archives">Authors</a></h3>

<div class="widget">
<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="prbuddha"><a class="LI-simple-link" href='https://www.linkedin.com/in/prbuddha?trk=profile-badge'>Buddha Jyothiprasad</a></div>
<br />

<div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="light" data-vanity="reshma-b"><a class="LI-simple-link" href='https://www.linkedin.com/in/reshma-b?trk=profile-badge'>Reshma Beesetty</a></div>
</div>

</div>
